---
title: Home
layout: default
---

<div class="home">
    {% include notice.html content="We're still under construction" %}
  <div class="page-header">

  </div>
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-entry">


        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>



</div>
